<%= @destination.name %>
<%= @destination.description %>
<%= @destination.star_ranking %>
<%= @destination.image %>

<h3>Edit Destination</h3>
<form action="/destinations/<%=@destination.id%>" method="post">
  <label for='name'>Name</label>
  <input type="text" name="name" id="name">
  <label for='description'>Description</label>
  <input type="text" name="description" id="description">
  <label for='star_ranking'>Ranking (1-10)</label>
  <input type="integer" name="star_ranking" id="star_ranking">
  <label for='image'>Image URL</label>
  <input type="text" name="image" id="image">
  <input type="submit" name="submit" value="Submit">
</form>