<%= @destination.name %>
<%= @destination.description %>
<%= @destination.star_ranking %>
<%= @destination.image %>

<br></br>

<form action="/destinations/<%=@destination.id%>/edit" method="get">
  <input type="submit" name="edit_destination" value="Edit Destination">
</form>

<br></br>

<form action="/destinations/<%=@destination.id%>/delete" method="post">
  <input type="submit" name="delete_destination" value="Remove Destination">
</form>