<%= @destination.name %>
<br>
<br>
<%= @destination.description %>
<br>
<br>
<p>Ranking: <%= @destination.star_ranking %> </p>
<br>
<br>
<img src="<%=@destination.image%>" alt="Location">
<br>
<br>

<form action="/destinations/<%=@destination.id%>/edit" method="get">
  <input type="submit" name="edit_destination" value="Edit Destination">
</form>

<br>

<form action="/destinations/<%=@destination.id%>/delete" method="post">
  <input type="submit" name="delete_destination" value="Remove Destination">
</form>