<!doctype html>
<html>
  <head>
    <title>TRAVELIST</title>
    <link rel="stylesheet" href="">
  </head>
  <body>

    <div class="container">
      <h1>Travelist</h1>
    </div>
     <% if logged_in? %>
     <p>Welcome, <%=current_user.username %>!</p>

        <a href="/users/<%=current_user.id%>"> View My Destinations! </a>
        <br></br>

        <a href="/destinations/new"> Create New Destination! </a>
        <br></br>

        <%= yield %>
        <h3>All Posted Destinations!</h3>

        <p><% Destination.all.each do |destination|%>
            <%= destination.name %>
            <br></br>
            <%= destination.description %>
            <br></br>
            <%= destination.star_ranking %>
            <br></br>
            <%= destination.image %>
            <br></br>
          <% end %>

        <br></br>
        <a href="/logout"> Log Out </a>

      <% else %>
      <a href="/login"> Log In </a>
      <br></br>
      <a href="/signup">Sign Up</a>
      <%end %>

        <%= yield %>
  </body>
</html>