<!doctype html>
<html lang='en'>
  <head>
    <title>TRAVELIST</title>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="UTF-8">
    <meta name="description" content="Pinterest for Travelers">
    <meta name="keywords" content="Travel, Destinations, Trips">
    <meta name="author" content="Stephen Wright">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <div class="header">
     <br>
     <h1><b>TRAVELIST</b></h1>

     <br>
      
     <% if logged_in? %>

      <h3><b>Welcome, <%=current_user.username %>!</b></h3>
      
        <a href="/login">HomePage</a>
  
          <nav>  
            <a href="/users/<%=current_user.id%>">View My Destinations</a>
            <a href="/destinations/new">Create New Destination</a>
            <br>
            <br>
            <div id="right">
            <a href="/logout"> Log Out  </a>
            </div>
          </nav>
          

      <% else %>
        <a href="/login">Log In</a>
          <br>
        <a href="/signup">Sign Up</a>
          <br>
          <br>
      <% end %> 
      
    </div>
      <% flash.keys.each do |type| %>
      <div data-alert class="flash-<%= type %>-alert-box-radius">
        <br>
        <%= flash[type] %>
      </div>
      <% end %>
    
          <%= yield %>     

  </body>
</html>
