<!doctype html>
<html lang='en'>
  <head>
    <title>TRAVELIST</title>
    <link rel="stylesheet" href="">
    <meta charset="UTF-8">
    <meta name="description" content="Pinterest for Travelers">
    <meta name="keywords" content="Travel, Destinations, Trips">
    <meta name="author" content="Stephen Wright">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    
      <h1>Travelist</h1>
    
     <% if logged_in? %>

      <h3>Welcome, <%=current_user.username %>!</h3>
          <nav>  
            <a href="/users/<%=current_user.id%>">View My Destinations</a>
            <a href="/destinations/new">Create New Destination</a>
            <a href="/logout"> Log Out </a>
          </nav>

      <% else %>
      <a href="/login">Log In</a>
       <br>
      <a href="/signup">Sign Up</a>
      <% end %>
      
      <hr>   

          <%= yield %>



          <hr>
          <h3>All Posted Destinations</h3>

          <% Destination.all.each do |destination|%>
          <div class='card'>
              <%= destination.name %>
              <br>
              <p><%= destination.description %></p>
              <br>
              Ranking <%= destination.star_ranking %> 
              <br>
              <img src="<%= destination.image %>">
              <br>
            <% end %>
          </div>

      
  </body>
</html>